SH-15 downloads

- pip install django djangorestframework
- Npm install react and node.js
- npm i webpack webpack-cli --save-dev
- npm i @babel/core babel-loader @babel/preset-env @babel/preset-react --save-dev
- npm i react react-dom --save-dev
- npm install @material-ui/core  
- npm install --save react@16.8.0 react-dom@16.8.0
- npm install @babel/plugin-proposal-class-properties
- npm install react-router-dom
- 

