@font-face {
    font-family: 'NewGroteskSquareFIVEWEB';
    src: url('../fonts/NewGroteskSquareFIVEWEB.woff2') format('woff2'),
        url('../fonts/NewGroteskSquareFIVEWEB.woff') format('woff');
}
@font-face {
    font-family: 'NewGroteskSquareFOURWEB';
    src: url('../fonts/NewGroteskSquareFOURWEB.woff2') format('woff2'),
        url('../fonts/NewGroteskSquareFOURWEB.woff') format('woff');
}
body{
    font-family: 'NewGroteskSquareFOURWEB';
}
.title{
    font-family: 'NewGroteskSquareFIVEWEB';
    text-align: center;
}
.text{
    text-align: left;
    font-size: larger;
    padding:0;
    margin:0;
}
.picDiv{
    width:100%;
    max-width:80%;
    margin:auto;
    padding:0;
    margin-top:0;
}
.textDiv{
    width:100%;
    margin:5%;
    margin-top:0;
}
.row{
    width:100%;
    margin:0;
}
.pic{
    width:100%;
    padding:0;
    margin: auto;
}
.bodycontent{
    width:100%;
    margin-top:0;
    padding-left: 5%;
    padding-right: 5%;
}