body, html {
    background-color: #111;
    color: #DDD;
}

/* Landing styles */
.landing_pic_container {
    width: 100%;
    margin: auto;
    margin-top: -100px;
    padding: 0;
    height: 96vh;
}
.landing_pic {
    -webkit-clip-path: polygon(10% 0, 100% 90%, 100% 0);
    clip-path: polygon(10% 0, 100% 90%, 100% 0);
    position: absolute;
    filter: brightness(0.75);
    z-index: 1;
}
.landing_title_container {
    position: absolute;
    z-index: 999;
    top: 38%;
    left: 12%;
}
.landing_heading {
    font-family: 'NewGroteskSquareFIVEWEB';
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: inherit;
    line-height: 7.5vw;
    letter-spacing: .03em;
}
#landing_blue_accent {
    color: #34D19F;
    text-shadow: 0 0 10px #34D19F;
}
.landing_subheading {
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4vw;
    font-family: 'NewGroteskSquareFOURWEB';
}

/* Text styles */
.text_div {
    margin: 0;
    background-color: #DDD;
    color: black;
    padding: 80px 20vh;
    border-radius: 4px;
    font-family: Inter;
    box-shadow: 0 0 6px #DDD;
    overflow: auto;
}
.text {
    max-width: 48%;
    text-align: justify;
    float: left;
}
.text_heading {
    margin-bottom: 40px;
    background-color: #111;
    text-transform: uppercase;
    padding: 8px 8px 0 8px;
    color: #DDD;
    width: 48%;
    font-family: 'NewGroteskSquareFOURWEB';
    font-size: 60px;
    box-shadow: 7px 7px 0 #34D19F;
}
.text_pic {
    border-radius: 3px;
}
.text_pic#pic_food_at_pub {
    width: 48%;
    float: right;
}