h2{
    margin-bottom: 0;
    padding-bottom: 0;
}
.textDiv{
    width:75%;
    margin:5%;
    margin-top:5%;
    padding-bottom: 5%;
    padding-top: 5%;
    display:block;
    background-color: #EEE;
    box-shadow: 0 0 6px #EEE;
    border-radius: 4px;
}
.row{
    width:100%;
    margin:0;
    display:flex;
    justify-content: center;
    position:absolute;
    background-color: #111;
}
.pic{
    width:100%;
    padding:0;
    margin: auto;
}
.bodycontent{
    width:100%;
    margin-top:0;
    padding-left: 5%;
    padding-right: 5%;
    max-width:100%;
    display:block;
}
.titleDiv{
    width:100%;
    display:flex;
    justify-content: center;
}
.how-it-works.text{
    font-family: Inter;
    float:left;
    margin:0;
    width: 35vw;
}
.how-it-works.text2{
    font-family: Inter;
    float: right;
    text-align: right;
    margin:0;
    width: 35vw;
}
.how-it-works.title{
    text-align: center;
    margin: 40px 0 40px 0;
    background-color: #111;
    text-transform: uppercase;
    padding: 20px 10vw 0 10vw;
    color: #EEE;
    font-family: 'NewGroteskSquareFOURWEB';
    font-size: 60px;
    box-shadow: 7px 7px 0 #34D19F;
}
body{
    margin: 5%;
    display:block;
}
.how-it-works.image-right{
    float: right;
    width: 10vw;
}
.how-it-works.image-left{
    float: left;
    width: 10vw;
}
.how-it-works.stage-div{
    margin:0 10vw 0 10vw;
    height: 20vh;
}
.how-it-works.centering-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    float:left;
}

.how-it-works.centering-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    float:right;
}