@import '~mdb-ui-kit/css/mdb.min.css'; /* dont delete me */

/* Account forms (login, signup) styles */
form.account_form {
    background-color: white;
    width: 350px;
    border-radius: 6px;
    box-shadow: 0 0 16px #AAA;
    margin: 40px auto 60px auto;
    padding: 30px;
    padding-top: 8vh;
}
form.account_form .field_container {
    border: 1px solid #DDD;
    margin: 23.25px 0;
}
form.account_form .field_container > .form-input-field:focus {
    border: 1px solid black;
}
form.account_form h2 {
    margin-bottom: 50px;
    background-color: #111;
    text-transform: uppercase;
    padding: 8px 8px 0 8px;
    color: #EEE;
    font-family: 'NewGroteskSquareFOURWEB';
    font-size: 40px;
    text-align: center;
    box-shadow: 4px 4px 0 #34D19F;
}
.form-input-label {
    background-color: white;
    color: black;
}
.form-input-field, .form-input-field:focus {
    color: black;
    font-size: 16px;
}
form.account_form button[type="submit"] {
    font-size: large;
    background-color: black;
    border-radius: 20px;
    box-shadow: none;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
}
form.account_form button[type="submit"]:hover {
    background-color: black;
    box-shadow: none;
    transform: scale(1.01);
}
form button[type="submit"]:active {
    background-color: #34D19F !important;
}
form.account_form p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    transition: 0.4s ease-in-out;
    line-height: 1.4em;
}
/* form p:hover {
    cursor: pointer;
    transform: scale(4) rotate(26deg);
    color: hotpink;
    text-transform: uppercase;
    font-weight: bold;
}
form p:hover:after {
    content: " TOO BAD :)";
} */
form.account_form p a {
    text-decoration: underline;
    color: black;
    transition: 0.1s ease-in-out;
}
form.account_form p a:hover {
    color: gray;
}