.title{
    text-align: center;
    margin: 0px 20% 20px 20%;
    max-width: 500px;
    margin:auto;
    margin-bottom:20px;
    background-color: white;
    text-transform: uppercase;
    padding: 10px 2vw 0 2vw;
    color: #111;
    font-family: 'NewGroteskSquareFOURWEB';
    font-size: 45px;
    box-shadow: 7px 7px 0 #34D19F;

}
form{
    width:100%;
}
.stack{    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
}
.table{
    width: 100%; 
    text-align: center;
    background-color: white;
    border-radius: 20px;
    position: inherit;
    box-shadow: 7px 7px 0 #34D19F;
}
.table-title{
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.total{
    color:#34D19F;
    font-size: 20px;
}
.bodycontent{
    width:100%;
    min-height: 100%;
    margin:0;
    display:flex;
    justify-content: center;
    position:absolute;
    background-color: #111;
}
.btn[type="submit"] {
    font-size: large;
    background-color: #34D19F!important;
    border-radius: 20px;
    box-shadow: none;
    margin-top: 20px;
    padding-bottom:20px;
    /* transition: 0.2s ease-in-out; */
}
.btn[type="submit"]:hover {
    background-color: white!important;
    color:#111;
    box-shadow: none;
    transform: scale(1.01);
}
.btn[type="submit"].btn-primary.btn-block.ripple-effect:active {
    background-color: #34D19F!important;
    height:54px!important;
    margin-top: 20px;
    padding: 0.84rem 2.14rem;
    margin:20px;
}

.btn[type="submit"].btn-primary.btn-block.ripple-effect {
    height:54px!important;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 0.84rem 2.14rem;
}
.btn-group button:not(:last-child) {
    border-right: 20px; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
.logged-out{
    font-weight: bold;
    text-align: center;
    color:white;
    font-size: 24px;
}
.logged-out a{
    color:#34D19F
}
.table th{
    color:#34D19F;
    font-size: 18px;
    font-weight:bold;
    width: auto;
}
.table tr{
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    width:auto;
}
.table-div{
    display:block !important
}
.table input{
    border-radius: 10px;
    border-color: #34D19F;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  color:#34D19F;
  margin: 0;
}